<script type="x/template" data-component="newsletter-input">
    <form :id="'newsletter-input-form_' + _uid" method="post" @submit.prevent="validateData">

 

<div class="row">
    <div class="col-xs-6" v-if="showNameInputs">
                <div class="input-unit">
                    <label :for="'first-name-input_' + _uid">Vorname</label>
                    <input type="text" :id="'first-name-input_' + _uid" v-model="firstName">
                </div>
            </div>
            <div class="col-xs-6 pl-0" v-if="showNameInputs">
                <div class="input-unit">
                    <label :for="'last-name-input_' + _uid">Nachname</label>
                    <input type="text" :id="'last-name-input_' + _uid" v-model="lastName">
                </div>
            </div>

    <div class="col-8" style="padding-right:0px">
        <div class="input-group">
            <div class="input-unit" data-validate="mail">
                <label :for="'email-input-id_' + _uid">${ $translate("Ceres::Template.newsletterEmail") } *</label>
                <input type="email" autocomplete="email" :id="'email-input-id_' + _uid" v-model="email">
            </div>
            <input autocomplete="none" class="honey" type="text" name="username" tabindex="-1" v-model="honeypot">
        </div>
    </div>



    <div class="col-xs-4">
        <div class="input-group-btn">
            <button type="button" class="nlbtn" @click="validateData" :disabled="isDisabled" :class="buttonSizeClass">
               
             Subscribe
            </button>
        </div>
    </div>


    <div class="col-12" v-if="showPrivacyPolicyCheckbox" >
        <div class="form-check small" data-validate>
            <input type="checkbox" class="form-check-input" :id="'privacy-policy-accept-id_' + _uid" name="privacy-policy-accept" v-model="privacyPolicyValue">
            <div class="nlftn2">
                I hereby confirm that I have read the
            <a href="/privacy-policy" target="_blank">
                <span style="color:#222226">privacy policy.</span>
            </a>
        </div>
        </div>
    </div>



</div>
</form>
</script>
