    <div class="footer-row">
    


    

    <div class="container" style="padding-bottom:1em">
        <hr style="border-top: 1px solid #efefef"> 
    <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block" >
         <p class="ftn_foothead">Mad World</p>
         
         <ul class="footerList">
             <li><a href="/contact" class="footlink">Contact</a></li>
             </ul>
     </div>
     
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
         <p class="ftn_foothead">Payment</p>
         <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/kz24s2gfphm4/frontend/madworld/img/icons/icon-pay-paypal.png" class="icon-img"></div>
     </div>
     
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
         <p class="ftn_foothead">Shipping</p>
         <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/kz24s2gfphm4/frontend/madworld/img/icons/icon-shipping-royalmail.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/kz24s2gfphm4/frontend/madworld/img/icons/icon-shipping-parcelforce.png" class="icon-img"></div>
     </div>
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
        <p class="ftn_foothead">Contact</p>
    
    
    
                <span class="footer-icon">
                    <i class="fas fa-envelope" style="font-size:20px; color:#3e3e3e"></i>
                </span>
                <div style="float:left"> 
                    <b>write us:</b><br>
                    <a href="/contact" class="footlink">Contact Form</a>
                </div>
                
                <div class="clearer"></div>
    
    
     </div>
    
    
    
    </div>
    </div>
    
    
    

                
                <div class="container">
                    <hr style="border-top: 1px solid #efefef"> 
                        <div class="row">
    
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="widget widget-newsletter widget-primary">
        <div class="widget-inner">
            <p class="h4" style="padding:50px 0 0 0; font-size:16px; text-transform:none; padding-bottom:10px">Special offers and promotions with our newsletter!</p>
            <newsletter-input :title="false" :sub-title="false" :show-name-inputs="false" :show-privacy-policy-checkbox="true" :email-folder="1"></newsletter-input>
        </div>
    </div>
                        </div>
    
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                            <div style="padding-top:50px">
                            <span style="padding-right:30px"><img src="https://cdn02.plentymarkets.com/kz24s2gfphm4/frontend/madworld/img/logo.png" style="max-height:120px" alt="Mad World Fancy Dress Hire"></span>
                            </div>
                        </div>
    
                    </div>
                </div>
    
    
   
    <div class="container">
        <hr style="border-top: 1px solid #efefef; margin-top:20px">  
    <div class="row">
    
     <div class="col-md-12 col-xs-12" align="center" style="padding:10px 0 30px 0; line-height:30px">
    
     <div>
         <a href="/privacy-policy" class="footlink2">Privacy policy</a> 
         <span style="padding:0 10px; color:#a3b1b3">|</span> 
         <a href="/gtc" class="footlink2">Terms and conditions</a>  
    </div>
    
     <div class="footftn2">Copyright by Mad World</div>
         
     </div>
    
    </div>
    </div>
    
    
    </div>


<a id="button-to-top"></a>
