<script type="x/template" data-component="wish-list-count">
    <a class="nav-link" :href="urlWishList" rel="nofollow">
            <span class="wishlist-mobile">
        <span class="badge-right mr-1  d-sm-inline" style="color:#222226">{{ wishListCount }}</span>
        <i class="fa" :class="{'fa-heart-o': !wishListCount, 'fa-heart': wishListCount}" aria-hidden="true" style="color:#495057"></i>
    </span> 
  
    <span class="wishlist-full">
        <i class="far fa-heart" aria-hidden="true" style="font-size:32px; color:#222226"></i>
</span> 
</a> 
</script>



